* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.container {
  width: 150rem;
  margin: 0 auto;
  position: relative;
}

.margin--up {
  margin-top: 8rem;
}

.header {
  width: 100%;
  height: 9rem;
  padding: 1rem 0;
  background-color: #ececec;
}

.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 7rem;
}

.nav {
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 500;
  color: #1d1d1d;
  position: relative;
  transition: all ease-in-out 0.2s;
}

.nav a::after {
  content: "";
  width: 2.5rem;
  height: 0.2rem;
  background-color: #b16925;
  position: absolute;
  top: 2rem;
  left: 0;
  border-radius: 100px;
  opacity: 0;
  transition: all ease-in-out 0.2s 0.1s;
}

.nav a:hover::after {
  opacity: 1;
}

.nav a:hover {
  color: #b16925;
}

.btn {
  background-color: #4f2600;
  padding: 1rem 3rem;
  border-radius: 100px;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: #b16925;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.4);
}

.btn--header:link,
.btn--header:visited {
  font-size: 1.8rem;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.hero--section {
  background-color: #ececec;
  height: 90vh;
}

.hero--text {
  position: absolute;
  left: 50%;
  top: 5%;
  text-align: center;
  line-height: 1.4;
  transform: translate(-50%, 60%);
}

.primary {
  font-size: 6rem;
  font-weight: 500;
  color: #401f00;
}

.secondary {
  font-size: 3rem;
  font-family: "Roboto Mono", sans-serif;
  letter-spacing: 0.3rem;
}

.hero__section-img {
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, 90%);
}

.hero--img {
  width: 100%;
}
.decorate--section {
  text-align: center;
}

.deco--container {
  display: flex;
  justify-content: space-between;
  margin-top: 5rem;
}

.deco--items {
  width: 40%;
}

.deco-img {
  width: 100%;
}

.deco-text {
  font-size: 1.6rem;
  margin-top: 2rem;
}

.brand__feature-details {
  position: relative;
}

.brand__feature-details::after {
  content: "";
  width: 0.2rem;
  height: 25rem;
  position: absolute;
  top: 0;
  left: 50%;
  background-color: #b9b9b9;
}

.brand--details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 5rem;
}

.brand--header {
  font-size: 3.5rem;
  width: 50%;
}

.brand--info {
  font-size: 1.6rem;
}

.brand--info {
  width: 30%;
}

/* Blog */
.blog-posts {
  text-align: center;
}

.blog--header {
  margin: 6rem 0;
}

.blog--texts {
  list-style: none;
}

.blog--texts {
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.blog-text {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  cursor: pointer;
}

.blog-icons {
  margin-right: 1rem;
}

/* Gallery  */

.gallery-section {
  margin: 6rem 0;
  text-align: center;
}

.gallery-img {
  width: 100%;
  height: 50rem;
}

.gallery__imgs-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 6rem;
}

/* form */
.fieldset {
  height: 75vh;
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-field {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.fieldset label {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.fieldset input {
  font-size: 1.6rem;
  height: 3rem;
  width: 30rem;
}


.check {
  display: flex;
  align-items: center;

}

.fieldset .check input {
  width: 10rem;
}
